<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <style>
        body {
            font-family: sans-serif;
        }

        .header {
            display: flex;
            justify-content: space-between;
            margin-bottom: 12px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th,
        td {
            padding: 6px 8px;
            border-bottom: 1px solid #ddd;
        }

        .totals td {
            font-weight: bold;
        }
    </style>
</head>

<body>
    <div class="header">
        <div>
            <h2>Payslip — {{ payslip.period }}</h2>
            <div>{{ company.name }}</div>
        </div>
        <div>
            <div><strong>Employee:</strong> {{ payslip.employee.name }}</div>
            <div><strong>Code:</strong> {{ payslip.employee.code }}</div>
            <div><strong>Date:</strong> {{ payslip.date }}</div>
        </div>
    </div>


    <h3>Earnings</h3>
    <table>
        <tr>
            <th>Component</th>
            <th style="text-align:right">Amount</th>
        </tr>
        {% for l in payslip.lines.all %}{% if l.component.type == 'earning' %}
        <tr>
            <td>{{ l.component.name }}</td>
            <td style="text-align:right">{{ l.amount }}</td>
        </tr>
        {% endif %}{% endfor %}
        <tr class="totals">
            <td>Total Earnings</td>
            <td style="text-align:right">{{ payslip.total_earnings }}</td>
        </tr>
    </table>


    <h3>Deductions</h3>
    <table>
        <tr>
            <th>Component</th>
            <th style="text-align:right">Amount</th>
        </tr>
        {% for l in payslip.lines.all %}{% if l.component.type == 'deduction' %}
        <tr>
            <td>{{ l.component.name }}</td>
            <td style="text-align:right">{{ l.amount }}</td>
        </tr>
        {% endif %}{% endfor %}
        <tr class="totals">
            <td>Total Deductions</td>
            <td style="text-align:right">{{ payslip.total_deductions }}</td>
        </tr>
    </table>


    <h3>Net Pay</h3>
    <table>
        <tr class="totals">
            <td>Net</td>
            <td style="text-align:right">{{ payslip.net_pay }}</td>
        </tr>
    </table>
</body>

</html>